<div class="card-center card w-50">
  <div class="card-body">
    <h1 class="text-center">Game Tonight</h1>
    <h2 class="text-center">Ravens vs Steelers</h2>
  </div>
</div>

<%= form_tag({:controller => 'upload', :action => 'uploadFile'}, :multipart => true) do %>
<div class="card-center card w-50">
  <div class="card-body">
        <table style="width:100%">
          <tr>
           <th style="width:30%"><b>UPLOAD LINEUP FILE:</b></th>
           <th style="width:70%">
             <form>
               <div class="custom-file">
                 <input type="file" class="custom-file-input" style="cursor:pointer" name="upload[datafile]" id="upload_datafile">
                 <label for="upload_file" style="text-align:left" class="custom-file-label" for="customFile">Choose File...</label>
               </div>
             </form>
            </th>
          </tr>
        <table>
  </div>
</div>

<%= submit_tag "Upload", :style => 'display:none;', :id => 'upload-btn', :class => 'btn btn-primary' %>
<% end %>

<%= link_to('',{:controller => :upload, :action => :export, format: 'csv'}, id: "export-link" ) %>


<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  $('#upload-btn').click();
  setTimeout(function() {
    $('#export-link')[0].click();
  },1000)
  setTimeout(function() {
    window.location.reload(true);
  },2000)
});
</script>
